<h1><%= @question.section_name %>: <%= link_to(@question.subject, @question_url) %></h1>

<p><%= l(:text_user_wrote, :value => h(@answer.author)) %></p>

<%= textilizable @answer, :content, :only_path => false %>
